CAPITAL/CAPITAL/Service References/CapitalService/CapitalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CAPITAL.ORM.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CAPITAL.ORM.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfDevice" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastAccessDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="CapitalError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapitalError" nillable="true" type="tns:CapitalError" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="tns:AccountType" />
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DefaultPayment" type="xs:double" />
      <xs:element minOccurs="0" name="Frequency" nillable="true" type="tns:Frequency" />
      <xs:element minOccurs="0" name="FrequencyId" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsShare" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermissionLevel" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBalanced" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountType" nillable="true" type="tns:AccountType" />
  <xs:complexType name="Frequency">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="FrequencyId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Frequency" nillable="true" type="tns:Frequency" />
  <xs:complexType name="Share">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="PermissionLevelId" type="xs:int" />
      <xs:element minOccurs="0" name="ShareId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Share" nillable="true" type="tns:Share" />
  <xs:complexType name="ArrayOfStatement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statement" nillable="true" type="tns:Statement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatement" nillable="true" type="tns:ArrayOfStatement" />
  <xs:complexType name="Statement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsPaid" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaidAmount" type="xs:double" />
      <xs:element minOccurs="0" name="PaidDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatementId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statement" nillable="true" type="tns:Statement" />
  <xs:complexType name="ArrayOfFrequency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Frequency" nillable="true" type="tns:Frequency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrequency" nillable="true" type="tns:ArrayOfFrequency" />
  <xs:complexType name="ArrayOfAccountType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountType" nillable="true" type="tns:AccountType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountType" nillable="true" type="tns:ArrayOfAccountType" />
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeedbackId" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegistrationId" type="xs:int" />
      <xs:element minOccurs="0" name="URI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
</xs:schema>